/* rows */

.col .row{margin-left:-.75rem;margin-right:-.75rem}.row{margin-left:auto;margin-right:auto;margin-bottom:20px}.row:after{content:"";display:table;clear:both}.row .col{float:left;-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 .75rem;min-height:1px}.row .col[class*=pull-],.row .col[class*=push-]{position:relative}.row .col.s1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.s4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.s7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.s10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.s11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.s12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-s1{margin-left:8.3333333333%}.row .col.pull-s1{right:8.3333333333%}.row .col.push-s1{left:8.3333333333%}.row .col.offset-s2{margin-left:16.6666666667%}.row .col.pull-s2{right:16.6666666667%}.row .col.push-s2{left:16.6666666667%}.row .col.offset-s3{margin-left:25%}.row .col.pull-s3{right:25%}.row .col.push-s3{left:25%}.row .col.offset-s4{margin-left:33.3333333333%}.row .col.pull-s4{right:33.3333333333%}.row .col.push-s4{left:33.3333333333%}.row .col.offset-s5{margin-left:41.6666666667%}.row .col.pull-s5{right:41.6666666667%}.row .col.push-s5{left:41.6666666667%}.row .col.offset-s6{margin-left:50%}.row .col.pull-s6{right:50%}.row .col.push-s6{left:50%}.row .col.offset-s7{margin-left:58.3333333333%}.row .col.pull-s7{right:58.3333333333%}.row .col.push-s7{left:58.3333333333%}.row .col.offset-s8{margin-left:66.6666666667%}.row .col.pull-s8{right:66.6666666667%}.row .col.push-s8{left:66.6666666667%}.row .col.offset-s9{margin-left:75%}.row .col.pull-s9{right:75%}.row .col.push-s9{left:75%}.row .col.offset-s10{margin-left:83.3333333333%}.row .col.pull-s10{right:83.3333333333%}.row .col.push-s10{left:83.3333333333%}.row .col.offset-s11{margin-left:91.6666666667%}.row .col.pull-s11{right:91.6666666667%}.row .col.push-s11{left:91.6666666667%}.row .col.offset-s12{margin-left:100%}.row .col.pull-s12{right:100%}.row .col.push-s12{left:100%}@media only screen and (min-width:601px){.row .col.m1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.m4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.m7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.m10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.m11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.m12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-m1{margin-left:8.3333333333%}.row .col.pull-m1{right:8.3333333333%}.row .col.push-m1{left:8.3333333333%}.row .col.offset-m2{margin-left:16.6666666667%}.row .col.pull-m2{right:16.6666666667%}.row .col.push-m2{left:16.6666666667%}.row .col.offset-m3{margin-left:25%}.row .col.pull-m3{right:25%}.row .col.push-m3{left:25%}.row .col.offset-m4{margin-left:33.3333333333%}.row .col.pull-m4{right:33.3333333333%}.row .col.push-m4{left:33.3333333333%}.row .col.offset-m5{margin-left:41.6666666667%}.row .col.pull-m5{right:41.6666666667%}.row .col.push-m5{left:41.6666666667%}.row .col.offset-m6{margin-left:50%}.row .col.pull-m6{right:50%}.row .col.push-m6{left:50%}.row .col.offset-m7{margin-left:58.3333333333%}.row .col.pull-m7{right:58.3333333333%}.row .col.push-m7{left:58.3333333333%}.row .col.offset-m8{margin-left:66.6666666667%}.row .col.pull-m8{right:66.6666666667%}.row .col.push-m8{left:66.6666666667%}.row .col.offset-m9{margin-left:75%}.row .col.pull-m9{right:75%}.row .col.push-m9{left:75%}.row .col.offset-m10{margin-left:83.3333333333%}.row .col.pull-m10{right:83.3333333333%}.row .col.push-m10{left:83.3333333333%}.row .col.offset-m11{margin-left:91.6666666667%}.row .col.pull-m11{right:91.6666666667%}.row .col.push-m11{left:91.6666666667%}.row .col.offset-m12{margin-left:100%}.row .col.pull-m12{right:100%}.row .col.push-m12{left:100%}}@media only screen and (min-width:993px){.row .col.l1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.l4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.l7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.l10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.l11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.l12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-l1{margin-left:8.3333333333%}.row .col.pull-l1{right:8.3333333333%}.row .col.push-l1{left:8.3333333333%}.row .col.offset-l2{margin-left:16.6666666667%}.row .col.pull-l2{right:16.6666666667%}.row .col.push-l2{left:16.6666666667%}.row .col.offset-l3{margin-left:25%}.row .col.pull-l3{right:25%}.row .col.push-l3{left:25%}.row .col.offset-l4{margin-left:33.3333333333%}.row .col.pull-l4{right:33.3333333333%}.row .col.push-l4{left:33.3333333333%}.row .col.offset-l5{margin-left:41.6666666667%}.row .col.pull-l5{right:41.6666666667%}.row .col.push-l5{left:41.6666666667%}.row .col.offset-l6{margin-left:50%}.row .col.pull-l6{right:50%}.row .col.push-l6{left:50%}.row .col.offset-l7{margin-left:58.3333333333%}.row .col.pull-l7{right:58.3333333333%}.row .col.push-l7{left:58.3333333333%}.row .col.offset-l8{margin-left:66.6666666667%}.row .col.pull-l8{right:66.6666666667%}.row .col.push-l8{left:66.6666666667%}.row .col.offset-l9{margin-left:75%}.row .col.pull-l9{right:75%}.row .col.push-l9{left:75%}.row .col.offset-l10{margin-left:83.3333333333%}.row .col.pull-l10{right:83.3333333333%}.row .col.push-l10{left:83.3333333333%}.row .col.offset-l11{margin-left:91.6666666667%}.row .col.pull-l11{right:91.6666666667%}.row .col.push-l11{left:91.6666666667%}.row .col.offset-l12{margin-left:100%}.row .col.pull-l12{right:100%}.row .col.push-l12{left:100%}}@media only screen and (min-width:1201px){.row .col.xl1{width:8.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl2{width:16.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl3{width:25%;margin-left:auto;left:auto;right:auto}.row .col.xl4{width:33.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl5{width:41.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl6{width:50%;margin-left:auto;left:auto;right:auto}.row .col.xl7{width:58.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl8{width:66.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl9{width:75%;margin-left:auto;left:auto;right:auto}.row .col.xl10{width:83.3333333333%;margin-left:auto;left:auto;right:auto}.row .col.xl11{width:91.6666666667%;margin-left:auto;left:auto;right:auto}.row .col.xl12{width:100%;margin-left:auto;left:auto;right:auto}.row .col.offset-xl1{margin-left:8.3333333333%}.row .col.pull-xl1{right:8.3333333333%}.row .col.push-xl1{left:8.3333333333%}.row .col.offset-xl2{margin-left:16.6666666667%}.row .col.pull-xl2{right:16.6666666667%}.row .col.push-xl2{left:16.6666666667%}.row .col.offset-xl3{margin-left:25%}.row .col.pull-xl3{right:25%}.row .col.push-xl3{left:25%}.row .col.offset-xl4{margin-left:33.3333333333%}.row .col.pull-xl4{right:33.3333333333%}.row .col.push-xl4{left:33.3333333333%}.row .col.offset-xl5{margin-left:41.6666666667%}.row .col.pull-xl5{right:41.6666666667%}.row .col.push-xl5{left:41.6666666667%}.row .col.offset-xl6{margin-left:50%}.row .col.pull-xl6{right:50%}.row .col.push-xl6{left:50%}.row .col.offset-xl7{margin-left:58.3333333333%}.row .col.pull-xl7{right:58.3333333333%}.row .col.push-xl7{left:58.3333333333%}.row .col.offset-xl8{margin-left:66.6666666667%}.row .col.pull-xl8{right:66.6666666667%}.row .col.push-xl8{left:66.6666666667%}.row .col.offset-xl9{margin-left:75%}.row .col.pull-xl9{right:75%}.row .col.push-xl9{left:75%}.row .col.offset-xl10{margin-left:83.3333333333%}.row .col.pull-xl10{right:83.3333333333%}.row .col.push-xl10{left:83.3333333333%}.row .col.offset-xl11{margin-left:91.6666666667%}.row .col.pull-xl11{right:91.6666666667%}.row .col.push-xl11{left:91.6666666667%}.row .col.offset-xl12{margin-left:100%}.row .col.pull-xl12{right:100%}.row .col.push-xl12{left:100%}}

*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	position: relative;
	min-height: 100vh;
	font-family: "OpenSans", sans-serif;
	color: #7f8792;
	background: #141e28;
	/* 	background: #00264d; */
}

/* scrollbar */

::-webkit-scrollbar {
	width: 18px;
	background-color: #141e28;
}

::-webkit-scrollbar-thumb {
	border: 6px solid transparent;
	background-clip: padding-box;
	-webkit-border-radius: 18px;
	background-color: #233447;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #4e749f;
}

::-webkit-scrollbar-button {
	height: 0;
	display: none;
}

::-webkit-scrollbar-corner {
	background-color: #141e28;
}

/* container */
.container {
	margin: 0 auto;
	max-width: 1480px;
	width: calc(100% - 20px);
}

@media only screen and (min-width: 601px) {
	.container {
		width: 95%;
	}
}

@media only screen and (min-width: 993px) {
	.container {
		width: 85%;
	}
}

/* bassics */

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
h3 {
	font-family: Roboto, sans-serif;
	color: #fff;
}

p {
	color: #b3b3b3;
}

/* helpers */

.flex {
	display: flex;
}

.flex-center {
	display: flex;
	align-items: center;
}

.flex-grow {
	display: flex;
	flex-grow: 1;
}

.dsp-i {
	display: inline;
}

.dsp-b {
	display: block;
}

.dsp-ib {
	display: inline-block;
}

.rounded {
	border-radius: 5px;
}

.rounded-small {
	border-radius: 4px;
}

.rounded-large {
	border-radius: 8px;
}

.rounded-x-large {
	border-radius: 15px;
}

.global-big-bee {
	z-index: -50;
	position: fixed;
	width: 150vh;
	overflow: hidden;
	right: -22vw;
	top: 0;
}

/* text helpers */

.txt-space {
	letter-spacing: 0.2rem;
}

.txt-space-small {
	letter-spacing: 0.1rem;
}

.txt-space-large {
	letter-spacing: 0.75rem;
}

.txt-space-x-large {
	letter-spacing: 1rem;
}

.txt-upper {
	text-transform: uppercase;
}

.title {
	font-family: Roboto, sans-serif;
	color: #fff;
	font-size: 4.25rem;
	font-weight: 400;
}

.sub-heading {
	font-size: 1.1rem;
	margin-top: 0.3rem;
}

/* navigation */

.nav {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background-color: transparent;
}

.nav .nav-container,
.nav .container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 105px;
	line-height: 0;
}

.nav .nav-container {
	padding: 0 1.55rem;
}

.nav .logo {
	flex-shrink: none;
	margin: 0.25rem;
}

.nav-items {
	margin-left: 1.55rem;
}

.nav-item {
	margin-left: 0.35rem;
	padding: 0.45rem 0.8rem;
	border-radius: 4px;
	color: #fff;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

.nav-item .txt-space {
	padding-left: 0.2rem;
}

.nav .nav-items.right .nav-item {
	padding: 0.25rem;
	margin-left: 0.75rem;
}

.nav-item:hover {
	color: #ffe680;
}

.nav-item.active {
	background-color: rgba(255, 204, 0, 0.9);
	color: #2b2b2b;
	font-weight: 600;
}

.nav-item img {
	-webkit-transition: -webkit-filter 0.15s ease-in-out;
}

.nav-item:hover img {
	-webkit-filter: brightness(200%);
	filter: brightness(200%);
}

.nav .nav-mobile {
	display: none;
	margin: 0.5rem;
}

.nav .nav-container .nav-mobile {
	margin: 0;
}

@media only screen and (max-width: 890px) {
	.nav .nav-desktop {
		display: none;
	}
	.nav .nav-mobile {
		display: inline-block;
	}
}

.nav-height {
	min-height: 105px;
}

#closeMenu {
	display: none;
}

#mobileNav {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	top: 100px;
	left: 0;
	backdrop-filter: blur(3px);
	background-color: rgba(0, 0, 0, 0.56);
}

#mobileNav .nav-items {
	margin-top: 2rem;
	margin-right: 1.5rem;
}

#mobileNav .nav-item {
	display: block;
	text-align: right;
	padding: 0.75rem;
	margin-bottom: 0.75rem;
}

/* buttons */

.button {
	display: inline-block;
	text-decoration: none;
	color: #cccccc;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	text-align: center;
	background-color: #16222c;
	padding: 11px 25px 10px 25px;
	border-radius: 4px;
	border: 1px solid #1d2837;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.button:hover {
	background-color: #1d2837;
}

.button:active {
	background-color: #161d27;
}

.button.primary {
	background-color: rgb(235, 198, 35);
	font-weight: bold;
	color: #2b2b2b;
	border-color: transparent;
}

.button.primary:hover {
	background-color: rgb(255, 214, 31);
}

.button.primary:active {
	background-color: rgb(202, 172, 38);
}

.button.txt-space {
	padding-right: 21px;
}

.button.white {
	background-color: #fff;
	border-color: transparent;
	color: rgba(44, 61, 84, 0.96);
}

.button.white:hover {
	background-color: rgba(255, 252, 220, 0.96);
}

.button.white:active {
	color: rgba(44, 61, 84, 0.94);
	background-color: rgba(165, 159, 114, 0.945);
}

.button.shadow {
	box-shadow: 0 0 6px rgba(10, 10, 10, 0.28);
}

.button.shadow:hover {
	box-shadow: 0 0 9px rgba(10, 10, 10, 0.23);
}

.button.shadow:active {
	box-shadow: 0 0 4px rgba(10, 10, 10, 0.52);
}

.info {
	position: relative;
	overflow-x: hidden;
	background-color: rgba(249, 200, 6, 0.9);
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="28" height="49" viewBox="0 0 28 49"%3E%3Cg fill-rule="evenodd"%3E%3Cg id="hexagons" fill="%23ffd121" fill-opacity="0.4" fill-rule="nonzero"%3E%3Cpath d="M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z"/%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
	padding: 0.75rem 0;
}

.info.padding {
	padding: 0.55rem 1.75rem;
}

@media only screen and (max-width: 690px) {
	.info.padding {
		padding: 1rem 1.25rem;
	}
}

@media only screen and (max-width: 550px) {
	.info.padding {
		padding: 1rem 1rem;
	}

	.info > .flex-center {
		text-align: center;
		display: block;
	}

	.info .button {
		display: block;
	}
}

.info .button {
	display: block;
	word-break: normal;
	font-weight: 600;
}
