.hero > .row {
    display: flex;
    align-items: center;
    min-height: calc(100vh - (160px));
}

@media only screen and (max-width: 890px) {
    .hero > .row {
        display: block;
    }

    .hero > .row .col {
        text-align: center;
    }
}

.hero > .row .col {
    margin: .5rem 0 2.25rem 0;
}

.hero .sub-heading {
    margin-bottom: 1.25rem;
}

.hero #demo {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0px 0px 84px -23px rgb(0 0 0 / 75%);
    -moz-box-shadow: 0px 0px 84px -23px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 84px -23px rgb(0 0 0 / 75%);
}

.title {
	font-size: 4.25rem;
}