.payment-plans .payment-plan {
	padding: 0;
	max-width: 400px;
	box-sizing: border-box;
}

.payment-plan.selected {
	border: 2px solid #e8bb04;
}

.payment-plan .contain {
	padding: 1.25rem 1rem;
}

.payment-plan > .subhead {
	color: rgba(255, 255, 255, 0.8);
	font-weight: 500;
	margin: 0.55rem auto 0 auto;
}

.payment-plan .price {
	font-size: 2.75rem;
	margin: 0.5rem auto;
}

.payment-plan .payment-info {
	color: rgba(255, 255, 255, 0.35);
	font-weight: 400;
	font-size: 98%;
	margin: 1.25rem auto 1.5rem auto;
}

.plan-details {
	font-family: "Open Sans", sans-serif;
	color: #9097a2;
	overflow: hidden;
}

.plan-details > span {
	font-size: 1rem;
	font-weight: 400;
}

.plan-details .name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 0.5rem;
}

.plan-details .price {
	white-space: nowrap;
	font-size: 1.25rem;
	font-weight: bold;
	margin-left: 0.5rem;
}

.form .row .side .title {
	font-family: "Open Sans", sans-serif;
	font-size: 1.45rem;
	font-weight: 600;
	margin-top: 0.5rem;
	margin-bottom: 0.25rem;
	color: rgba(255, 255, 255, 0.83);
}

.form .row .side a {
	color: rgba(255, 255, 255, 0.75);
}

.form .row .side a:hover {
	text-decoration: underline;
}

.qr-code {
	display: inline-block;
	background-color: #fff;
	padding: 0.5rem;
	border-radius: 4px;
	line-height: 0;
}
